/* Style du corps de la page */
body {
    background-color: orange;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Style du titre dans l'en-tête */
header h1 {
    margin: 0;
}

/* Style du contenu principal */
main {
    padding: 20px;
}

/* Style des articles */
article {
    margin-bottom: 20px;
}

/* Style des sections */
section {
    margin-bottom: 20px;
}

/* Style des titres de section */
section h2 {
    color: #333;
}

/* Style des liens */
a {
    color: blue;
}

a:hover {
    color: darkblue;
}

/* Style de la zone de formulaire */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

/* Style des labels */
label {
    display: block;
    margin-bottom: 10px;
}

/* Style des champs de formulaire */
input[type="text"],
input[type="email"],
textarea,
select,
input[type="date"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style du bouton d'envoi */
input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Style de la barre de navigation */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Style de la liste de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style des éléments de la liste de navigation */
nav ul li {
    display: inline;
    margin-right: 20px;
}
aside {
    margin-top: 80px; /* Ajustez cette valeur selon votre préférence */
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.form {
    position: absolute;
    top: 190px; /* Ajustez cette valeur selon votre préférence */
    right: 20px; /* Ajustez cette valeur selon votre préférence */
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond avec opacité */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
}
@media screen and (max-width: 768px) {
    .form {
        position: static;
        background-color: transparent;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
    }
}

@media screen and (max-width: 568px) {
    .form {
        top: 190px; /* Ajustez cette valeur selon votre préférence */
        right: 10px; /* Ajustez cette valeur selon votre préférence */
    }
}
